<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables> 
    </EnvironmentVariables> 
  </RunConfiguration>
  <TestRunParameters>
    <!--Variables for TC Executions-->
    <Parameter name="GI_Env_Variable" value="local"/><!-- local/remote -->
    <Parameter name="GI_Env_SkipTests" value="false"/><!-- true/false -->
    <!--Variables for Driver Configuration-->
    <Parameter name="GI_DataDriverPath" value="C:\AutomationProjects\Data\"/><!---->
    <Parameter name="GI_DataDriverName" value="AutomationDriver.xlsx"/><!---->
    <Parameter name="GI_DataDriverSheet" value="TestCases"/><!--  -->
    <!--Variables for Report Configuration-->
    <Parameter name="GI_ReportLocation" value="C:\AutomationProjects\Report\"/>
    <Parameter name="GI_ReportName" value="Viaone Execution Report"/><!-- Report Name for Extent Reports -->
    <Parameter name="GI_ProjectName" value="Viaone Automation Regression"/><!-- Project Name -->
    <Parameter name="GI_TestEnvironment" value="VIAONEUAT"/><!-- UAT/QA1/QA2/Demo -->
    <Parameter name="GI_BrowserName" value="Chrome"/><!-- Chrome/IE -->
        
  </TestRunParameters>
</RunSettings> 